body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: white;
    height: 99vh;
}

/* Container */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

/* Title */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Grid layout */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Cards */
.card {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
}

/* Full width card */
.full {
    grid-column: span 2;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    outline: none;
}

/* Buttons */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #00c6ff;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

/* Result table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
}


td, th {
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;   /* 🔥 prevents stretching */
}

th {
    text-align: left;
}

/* Charts */
#chartContainer img {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}